*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
  padding: 20px;
  background-color: #303030;
  color: #333;
}

a {
  color: #ccc;
}

li li a {
  color: #000000;
}

a:hover {
  color: #fff;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

p {
  max-width: 800px;
  margin: 1em 0;
  color: #999;
}

b {
  color: #ffffff;
}

span {
  color: #ccc;
}

ul, ol, li {
  list-style-type: none;
  list-style: none;
}

hr {
  width: 100%;
  margin: 1.5em 0;
}

/* Demos */
/* Single element with buble and ID */

li.active {
  background-color: pink;
  color: #000;
}

#single-bubble-button {
  position: relative;
}

#single-bubble-content {
  display: none;
  position: absolute;
  width: 300px; /* height: 150px; */
  padding: 1em;
  background-color: #fff;
  border: 1px solid #666;
  z-index: 9;
}

#single-bubble-content p {
  margin: 0;
}

/* ------------------------------------ */
/* Multilevel menu                      */
/* ------------------------------------ */

ul#sample-menu-2 {
  padding: 0;
}

ul#sample-menu-2 > li {
  position: relative;
  float: left;
  margin-right: 20px;
}

/*  Hidding 2nd level menu */
ul#sample-menu-2 > li > ul {
  display: none;
  width: 160px;
  position: absolute;
  padding: 20px;
  background-color: pink;
  z-index: 3;
}

ul#sample-menu-2 > li > ul.submenu-opened {
  display: block;
}

/* ------------------------------------ */
/* Multilevel menu with transition      */
/* ------------------------------------ */

ul#sample-menu-3 {
  padding: 0;
}

ul#sample-menu-3 > li {
  position: relative;
  float: left;
  margin-right: 20px;
}

/*  Hidding 2nd level menu */
ul#sample-menu-3 > li > ul {
  width: 160px;
  position: absolute;
  padding: 20px;
  background-color: cyan;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.25s, opacity 0.25s ease-in-out;
}

ul#sample-menu-3 > li.submenu-opened > ul {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

/* ------------------------------------ */
/* Multilevel menu with transition      */
/* ------------------------------------ */

ul#sample-4-megadrop {
  display: block;
  clear: both;
  padding: 0 0 16px 0;
}

ul#sample-4-megadrop > li {
  position: relative;
  padding: 10px;
  float: left;
  margin-right: 20px;
}

ul#sample-4-megadrop > li.active {
  background-color: orange;
  color: #000000;
}

ul#sample-4-megadrop > li.active > a {
  color: #000000;
}

.megadrop-wrapper {
  display: block;
  position: relative;
}

.megadrop {
  display: none;
  position: absolute;
  top: 6px;
  width: 100%;
  max-width: 800px;
  background-color: orange;
}

.megadrop ul {
  padding-left: 1em;
}

.megadrop a {
  color: #000;
}