*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
  padding: 20px;
  background-color: #303030;
  color: #333;
}

a {
  color: #ccc;
}
a:hover {
  color: #fff;
}

p {
  max-width: 500px;
  color: #999;
}

span {
  color: #ccc;
}

/* Demos */
/* Single element with buble and ID */

#single-bubble-button {
  position: relative;
}

#single-bubble-content {
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  padding: 1em;
  background-color: #fff;
  border: 1px solid #666;
  z-index: 9;
}

/* Multilevel menu */

ul#sample-menu {
  padding: 0;
}

ul#sample-menu > li {
  position: relative;
  float: left;
  margin-right: 20px;
}

/*  Hidding 2nd level menu */
ul#sample-menu > li > ul {
  display: none;
  width: 120px;
  position: absolute;
  padding: 20px;
  background-color: pink;
}

ul#sample-menu > li > ul.submenu-opened {
  display: block;
}

/* Multilevel menu with transition */

ul#another-sample-menu {
  padding: 0;
}

ul#another-sample-menu > li {
  position: relative;
  float: left;
  margin-right: 20px;
}

/*  Hidding 2nd level menu */
ul#another-sample-menu > li > ul {
  width: 120px;
  position: absolute;
  padding: 20px;
  background-color: pink;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
     -moz-transition: opacity 0.25s ease-in-out;
      -ms-transition: opacity 0.25s ease-in-out;
       -o-transition: opacity 0.25s ease-in-out;
          transition: opacity 0.25s ease-in-out;
}

ul#another-sample-menu > li.submenu-opened > ul {
  opacity: 1;
}
